/*.list-busy__h2-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    text-align: center;
}

.busy {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;

    list-style: none;
    margin-top: 50px;
}

.busy__list-title-img+.busy__list-title-img {
    margin-left: 30px;
}

.list-busy {
    padding-top: 0;
}

.busy__box {
    position: absolute;
    bottom: 0;
}

.busy__text {
    padding-top: 27px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    color: #ffffff;
}

.busy__title {
    position: relative;
    width: 370px;
    height: 294px;
}*/