.list-imgs__h2-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    text-align: center;
}
.team__h3-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.team__p-name {
    margin-top: 10px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.team {
    justify-content: center;
    align-items: center;
    display: flex;
    list-style: none;
    margin-top: 50px;
}

.team__list-title-imgs {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__list-title-imgs+.team__list-title-imgs {
    margin-left: 30px;
}

.team__info {
    padding: 30px 0;
}

.list-imgs {
    background: #f5f4fa;
}

.social{
    display: flex;
    width: 200px;
    margin: 0 auto;
    list-style: none;
}

.social__links-item:not(:last-child) {
    margin-right: 10px;
}

.social__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    background-position: center;
    position: relative;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #2196f3;
    }
}

.social__icon {
    color: #afb1b8;
    transition-property: fill;

    .social__list-item:hover &,
    .social__list-item:focus & {
        fill: #fff;
    }
}
.social__link:hover,
.social__icon {
    fill: currentColor;
}