@media screen and (max-width: 1199px) {
    .list-busy {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .list-busy {
        padding-bottom: 94px;
    }

    .list-busy__h2-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        margin-bottom: 50px;
    }

    .busy {
        display: flex;
        margin-top: -30px;
        margin-left: -30px;
    }

    .busy__list-title-img {
        flex-basis: calc((100% - 90px) / 3);
        margin-top: 30px;
        margin-left: 30px;
        position: relative;
    }

    .busy__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        position: absolute;
        padding-top: 27px;
        padding-bottom: 27px;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        background: rgba(47, 48, 58, 0.8);
        text-transform: uppercase;
        color: #ffffff;
    }
}
/*.list-busy__h2-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    text-align: center;
}

.busy {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;

    list-style: none;
    margin-top: 50px;
}

.busy__list-title-img+.busy__list-title-img {
    margin-left: 30px;
}

.list-busy {
    padding-top: 0;
}

.busy__box {
    position: absolute;
    bottom: 0;
}

.busy__text {
    padding-top: 27px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    color: #ffffff;
}

.busy__title {
    position: relative;
    width: 370px;
    height: 294px;
}*/