:root {
    --main-font-family: "Roboto", sans-serif;
    --secondary-fond-family: "Raleway", sans-serif;
    --navigation-color: #2196f3;
    --btn-tittle: #ffffff;
    --backgraund-section: #2f303a;
    --secondary-text-color: #757575;
    --btn-main-color-text: #000000;
    --main-footer-contacts: rgba(255, 255, 255, 0.6);
    --btn-background: #188ce8;
}